{% extends 'base.html' %}

{% block content %}
<h1>Блог</h1>
<div class="blog-posts">
    {% for post in posts %}
        <article class="blog-post">
            <h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="blog-post-image">
            {% endif %}
            <p class="blog-post-excerpt">{{ post.content|truncatewords:30 }}</p>
            <p class="blog-post-meta">
                Автор: {{ post.author }} | 
                Дата: {{ post.pub_date|date:"d.m.Y" }} | 
                Просмотры: {{ post.views_count }}
            </p>
        </article>
    {% empty %}
        <p>Пока нет статей в блоге.</p>
    {% endfor %}
</div>
{% endblock %}